<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <th:block th:replace="~{ /fragment/fragments :: css }"></th:block>
</head>
<body>

<th:block th:replace="~{ /fragment/fragments :: header }"></th:block>

<h1>Tu es nouveau?</h1>
    <form th:object="${form}" th:action="@{/register}" method="post">
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required="required" />
        </div>
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required="required" />
        </div>
        <div>
            <label for="birthdate">Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" th:field="*{birthdate}" required="required" />
        </div>
        <div>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" th:field="*{login}" required="required" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required="required" />
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" required="required" />
        </div>
        <button type="submit">Register</button>
    </form>

<th:block th:replace="~{ /fragment/fragments :: footer }"></th:block>
</body>
</html>