<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <th:block th:replace="~{ /fragment/fragments :: css }"></th:block>
</head>
<body>

<th:block th:replace="~{ /fragment/fragments :: header }"></th:block>
    <h1>Create Task List</h1>
    <form th:object="${form}" th:action="@{/taskList/create}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required="required" />
        </div>
        <div>
            <label for="owner">Owner:</label>
            <input type="text" id="owner" name="owner" th:field="*{owner}" required="required" />
        </div>
        <div>
            <label for="viewersEntitiesLogin">Viewers:</label>
            <select id="viewersEntitiesLogin" name="viewersEntitiesLogin" multiple="multiple" th:field="*{viewersEntitiesLogin}">
                <option th:each="user : ${users}" th:value="${user.login}" th:text="${user.login}"></option>
            </select>
        </div>
        <button type="submit">Create Task List</button>
    </form>

<th:block th:replace="~{ /fragment/fragments :: footer }"></th:block>
</body>
</html>