<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport">
    <title>acceuil</title>
    <th:block th:replace="~{ /fragment/fragments :: css }"></th:block>
</head>
<body>

<th:block th:replace="~{ /fragment/fragments :: header }"></th:block>

    <h1>To-do List</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Terminée</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${set}" >
                <td th:text="${task.name()}"/>
                <td th:text="${task.description()}"/>
                <td th:text="${task.date()}"/>
                <td th:text="${task.status()}"/>
                <td><button><a th:href="@{/task/{id} (id = ${task.id()})}">Terminée</a></button></td>
                <td><button><a th:href="@{/task/update/{id} (id = ${task.id()})}">Modifier</a></button></td>
                <td><button><a th:href="@{/task/delete/{id} (id = ${task.id})}">Delete</a></button></td>

            </tr>
        </tbody>
    </table>
    <br>
    <a href="/task/deleteAllFinished">Supprimer les tâches terminées</a>

    <th:block th:replace="~{ /fragment/fragments :: footer }"></th:block>
</body>
</html>