<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'une Tache</title>
</head>
<body>
    <h1>Ajout d'une Tache</h1>
    <form th:action="@{/task/create}" method="post">
        
        <div>
            <label for="in-name">Titre :</label>
            <input type="text" th:field="${task.name}" id="in-name"/>
        </div>

        <div>
            <label for="in-description">Description :</label>
            <input type="text" th:field="${task.description}" id="in-description"/>
        </div>

        <div>
            <label for="in-date">Date :</label>
            <input type="date" th:field="${task.date}" id="in-date"/>
            <span th:if="${#fields.hasErrors('task.date')}" th:errors="${task.date}" style="color: red"></span>
        </div>

        <div>
            <label for="in-status">Status :</label>
            <select th:field="${task.status}" id="in-status">
                <option th:each="status : ${T(be.bstorm.formation.models.entities.Status).values()}"
                        th:value="${status}"
                        th:text="${status}"></option>
            </select>
        </div>
        
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>